{% extends "layouts/base.html" %}

{% block body %}

    <main class="container">
        <article class="about-block">
            <h2>პროექტის შესახებ</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </article>
        <div class="meet-team-wrapper"></div>
    </main>

   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="module" src="static/js/about.js"></script>
{% endblock %}