{% extends "layouts/base.html" %}

{% block body %}
    <main class="container">
      <article class="term-detailed">
        {% for term in terms %}
        <h2>{{term.eng_word}} - {{term.geo_word}}</h2>
        <p>
          {{term.description}}
        </p>

        <hr class="content-differ" />
        <div class="example-flexbox">
          <div>
            <h4 class="example">მაგალითი</h4>
            <p id="termExample">

              {{term.example}}

            </p>
          </div>
          {% endfor %}
          <div class="example-img-wrapper">
            <img class="example-img" src="{{url_for('static', filename='/png/unknown.png')}}">
          </div>
        </div>
        {% for subject in subjects %}
        <div class="hashtag-wrapper">
          <a href="{{url_for('main.dictionary')}}"
            ><span class="desc-tag" id="hashtag0"
              >{{subject.name}}</span
            ></a
          >
          <a href="#"
            ><span class="desc-tag" id="hashtag1"></span></a
          >
          <a href="#"
            ><span class="desc-tag" id="hashtag2"></span></a
          >
        </div>
        {% endfor %}
      </article>



      <div class="terms-button-wrapper">
        {% for subject in subjects %}
        <a href = {{subject.course_link}}>კურსის ნახვა</a>
        <a href = {{subject.internship_link}}>სტაჟირების ნახვა</a>
        {% endfor %}
      </div>
    </main>

    <script type="module" src="static/js/main.js"></script>
    <script type="module" src="static/js/detailed.js"></script>

{% endblock %}
