{% from "macros.html" import create_navlink %}
<header class="header">
    <div class = "container">
        <nav class="nav">
                    <div class="flex-between">
                        <ul class="nav-ul">
                             <li class="nav-li">
                                <a class="nav-link active" href="{{url_for('main.index')}}"><img src="{{url_for('static', filename='/svg/site-logo/logo.svg')}}" alt="site logo"></a>
                            <li class="nav-li">
                                <a class="nav-link" href="{{url_for('main.about')}}">{{"პროექტის შესახებ"}}</a>
                            </li>
                            <li class="nav-li">
                                <a class="nav-link" href="{{url_for('main.dictionary')}}">{{"ლექსიკონი"}}</a>
                            </li>
                        </ul>
                        {% if current_user.is_authenticated and current_user.role.name == "admin" %}
                            <a href="{{ url_for("admin.index") }}" class="nav-link">Admin Panel</a>
                        {% endif %}
                    </div>
        </nav>


        <form class="d-flex">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="btn btn-success mx-2">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="btn btn-success mx-2">Login</a>
            {% endif %}
            </form>
            </form>
            </div>
        </nav>
</header>